*, *::after, *::before {
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

body {
  min-width: 320px;
  min-height: 100dvh;
  width: 100%;
}
